h1, h2, h3, h4, h5, h6 {
  margin:0;
  padding:0;
}

body {
  background: url('/assets/ecailles.png');
  font-family: Constantia, "Lucida Bright", Lucidabright, "Lucida Serif", Lucida, "DejaVu Serif", "Bitstream Vera Serif", "Liberation Serif", Georgia, serif;
}

.navbar.navbar-inverse {
  background: url('/assets/dark_fish_skin.png');
  border-radius: 0;
  box-shadow: 0px 1px 3px #2a2a2a;
}

.booyah-box {
  -moz-box-shadow: 1px 1px 2px 0 #d0d0d0;
  -webkit-box-shadow: 1px 1px 2px 0 #d0d0d0;
  box-shadow: 1px 1px 2px 0 #d0d0d0;
  background: #fff;
  border: 1px solid #ccc;
  border-color: #e4e4e4 #bebebd #bebebd #e4e4e4;
  margin-top: 10px;
  margin-bottom: 15px;
  padding: 20px;
}

.navbar-inverse .navbar-brand {
  color: #FFF;
  font-family: 'ostrich_sans_roundedmedium', sans-serif;
  font-size: 26px;
}

.hungry-heart {
  color: red;
  font-size: 22px;
}

.pagination .pagination-lg {
  font-family: 'Helvetica Neue', sans-serif;
}

.pagination > li > a {
  color: black;
}

.pagination > .active > a, .pagination > .active > a:hover {
  background-color: black;
  border-color: black;
}

.glyphicon-plus-sign {
  color: white;
}
